@import "../colors/colors";
@import "../fonts/fonts";
@import "reset";

body {
  background-color: pink;
  transition: .5s ease;
}

main {
  flex: 1 1 auto; //!
}

.wrapper {
  min-height: 100%; //!
  display: flex; //!
  flex-direction: column; //!
}

.container {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 30px;
  overflow: hidden;
}

.header {
  background-color: #fafafa;
  box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.4);

  &__body {
    display: flex;
    align-items: center;
  }

  &__logo {
    font-weight: 800;
    font-size: 1.2rem;
    margin: 10px 0;
    color: black;

    transition: .3s ease;
    &:hover {
      color: grey;
    }
  }
}


.main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__panel {
    margin: 10px 0;
  }
}

.panel {
  background-color: #fafafa;
  box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.4);
  padding: 26px 30px;
  border-radius: 28px;
  display: flex;
  flex-direction: column;

  &__buttons {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }

  &__btn {
    padding: 8px 16px;
    border-radius: 8px;
    width: 100%;
    background-color: black;
    color: white;

    transition: .1s ease;
    &:hover {
      background-color: #111111;
    }

    &_left {
      border-radius: 8px 0 0 8px;
    }
    &_right {
      border-radius: 0 8px 8px 0;
    }
  }

  &__info {
    font-size: 30px;

    & span {
      font-weight: 500;
      color: #4b00e0;
    }

    &:not(:last-child) {
      padding-bottom: 20px;
    }
  }
}

.mode-btn {
  background-color: #ddd;
  border: none;
  color: #5b5b5b;

  &:hover {
    background-color: #232323;
    color: white;
  }

  &.active {
    background-color: #424242;
    color: white;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  &__body {
    font-size: 75%;
    padding-bottom: 15px;
    color: #fafafa70;
    text-align: center;

    & a {
      color: inherit;
      font-weight: 600;
      transition: .3s ease;
      &:hover {
        color: #fafafa;
      }
    }
  }
}